/Documents/NetBeansProjects/latihan1/nbproject/private/
/Documents/NetBeansProjects/Latihan_pertama/target/
/Documents/NetBeansProjects/latihan1/build/
/Documents/NetBeansProjects/latihan_ant2/nbproject/private/
/Documents/NetBeansProjects/latihan_ant2/build/
/Documents/NetBeansProjects/pertemuan3/nbproject/private/
/Documents/NetBeansProjects/pertemuan3/build/
**/*.localz
**/*.local
**/*.git
**/*.DS_Store
